sudo: required
language: python
git:
  depth: 10
  quiet: true
services:
  - docker
python:
  - "2.7"
  - "3.6"
env:
  global:
    - T2T_PROBLEM=algorithmic_reverse_binary40_test
    - T2T_DATA_DIR=/tmp/t2t-data
    - T2T_TRAIN_DIR=/tmp/t2t-train
    - TF_LATEST="1.10.*"
    # This is necessary to have gsutil work with Python 2.7
    - BOTO_CONFIG=/dev/null
  matrix:
    # We test against recent versions of TensorFlow and tf-nightly.
    # If updating, also update TF_LATEST above
    - TF_VERSION="1.9.*"
    - TF_VERSION="1.10.*"
    - TF_VERSION="tf-nightly"
matrix:
  exclude:
    # We test against all versions in Python 2 but only the latest in Python 3
    - python: "3.6"
      env: TF_VERSION="1.9.*"
    - python: "3.6"
      env: TF_VERSION="tf-nightly"
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libhdf5-dev
install:
  - ./tensor2tensor/oss_scripts/oss_pip_install.sh
script:
  - ./tensor2tensor/oss_scripts/oss_tests.sh
  - ./tensor2tensor/oss_scripts/oss_integration_test.sh

  # Conditional commands should each be in a separate block to get proper
  # errors on Travis.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]] && [[ "$TF_VERSION" == "tf-nightly"  ]]; then
        pylint -j 2 tensor2tensor;
    fi
